/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    min-width: 100%; 
    background-color: #c1cdde; 
    
}

.sidebar {
    width: 250px;
    background: #324e6b; /* Changed sidebar background color */
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #575d63;
    display: block;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 300px; /* Adjusted to match the sidebar width */
}

.topbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.logout:hover {
    background-color: #2980b9;
}

.dashboard {
    margin: 0;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
}

.card {
    background-color: #8ea7cb;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.reports {
    margin-top: 40px;
    display: flex;
    gap: 20px; /* Added gap between charts */
}

.chart,
.pie-charts {
    flex: 1;
}

.pie-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-chart {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.live-date-time {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: blue /* Dark gray-green */
}
